<launch>
  <arg name="cam_name"/>
  <arg name="cam_dev"/>
  <arg name="cam_info"/>

  <arg name="cam_height" default="480"/>
  <arg name="cam_width" default="640"/>

  <node pkg="usb_cam" type="usb_cam_node" name="$(arg cam_name)" output="screen">
    <param name="video_device" value="$(arg cam_dev)"/>
    <param name="camera_info_url" value="file://$(arg cam_info)"/>
    <param name="camera_frame_id" value="$(arg cam_name)_frame"/>
    <param name="camera_name" value="$(arg cam_name)"/>
    <param name="image_height" value="$(arg cam_height)"/>
    <param name="image_width" value="$(arg cam_width)"/>
  </node>

  <node pkg="image_proc" type="image_proc" name="$(arg cam_name)_proc" ns="$(arg cam_name)"/>
  
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="$(arg cam_name)_world_tag_detector" output="screen" ns="$(arg cam_name)_tag_detector">
    <remap from="image_rect" to="/$(arg cam_name)/image_rect"/>
    <remap from="camera_info" to="/$(arg cam_name)/camera_info"/>
    
    <param name="tag_family" type="str" value="36h11" />    
    <param name="projected_optics" type="bool" value="true" />
    
    <rosparam param="tag_descriptions" subst_value="true">
      [{id: 0, size: 0.15, frame_id: world_from_$(arg cam_name)_frame},
      {id: 6, size: 0.08, frame_id: rodi_from_$(arg cam_name)_frame}]
    </rosparam>
  </node>
  
</launch>
