<launch>
  <arg name="cam_dev" default="/dev/video1"/>
  <arg name="cam_info" default="$(find rodi_visual_localization)/param/top_camera.yaml"/>
  <arg name="tag_family" default="36h11"/>
  <arg name="tag_size" default="0.076"/>

  <node pkg="usb_cam" type="usb_cam_node" name="top_camera" output="screen">
    <param name="video_device" value="$(arg cam_dev)"/>
    <param name="camera_info_url" value="file://$(arg cam_info)"/>
    <param name="camera_frame_id" value="top_camera_frame"/>
    <param name="camera_name" value="top_camera"/>
    <param name="image_height" value="480"/>
    <param name="image_width" value="640"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="autofocus" value="false"/>
  </node>

  <node pkg="image_proc" type="image_proc" name="top_camera_proc" ns="top_camera"/>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="rodi_tag_detector" output="screen">
    <remap from="image_rect" to="/top_camera/image_rect"/>
    <remap from="camera_info" to="/top_camera/camera_info"/>

    <param name="tag_family" type="str" value="$(arg tag_family)" />

    <param name="projected_optics" type="bool" value="true" />

    <rosparam param="tag_descriptions" subst_value="true">[
      {id: 6, size: $(arg tag_size), frame_id: base_frame}]
    </rosparam>
  </node>

  <node pkg="rodi_visual_localization" type="rodi_visual_localization" name="rodi_visual_localization">
    <param name="camera_frame" value="top_camera_frame"/>
  </node>
</launch>
